<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-XRTTC0XC3Z"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-XRTTC0XC3Z");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="logo&ui/favicon.png" type="image/png" />
    <title>About Us</title>
    <meta name="image" content="logo&ui/favicon.png" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- nav -->
    <link rel="stylesheet" href="main.css" />
    <!-- footer -->
    <link rel="stylesheet" href="footer.css" />
    <!-- local styles -->
    <style>
      .secnav {
        height: 60px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 10px 40px;
        position: sticky;
        top: 60px;
        left: 0;
        background-color: var(--bg1);
        z-index: 1;
      }
      .secnav button {
        position: relative;
        height: 100%;
        aspect-ratio: 1;
        background-color: var(--theme);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 100px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
      }
      .secnav button svg {
        position: absolute;
        left: 5px;
        top: 5px;
        height: calc(100% - 10px);
        background-color: white;
        border-radius: 50%;
        box-sizing: border-box;
        padding: 5px;
      }
      .secnav button div {
        width: 0;
        overflow: hidden;
        color: white;
      }
      .secnav button:hover {
        aspect-ratio: 3.5/1;
      }
      .secnav button:hover div {
        width: 100%;
      }
      .secnav span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        justify-self: center;
        align-self: center;
        font-size: 20px;
      }
      /*  */
      h1 {
        background: url(/logo&ui/bg2.jpg);
        background-size: contain;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 12vw;
        margin: 0;
        padding: 50px 0;
        box-sizing: border-box;
        filter: hue-rotate(0deg);
        animation: rotatehue 200s infinite linear;
      }
      @keyframes rotatehue {
        0% {
          filter: hue-rotate(0deg) saturate(2);
          background-position: -200% 50%;
        }
        100% {
          filter: hue-rotate(360deg) saturate(2);
          background-position: 200% 50%;
        }
      }
      .maincontainer {
        box-sizing: border-box;
        padding-inline: 40px;
      }
      h3 {
        margin-bottom: 0;
        opacity: 0.8;
      }
      p {
        opacity: 0.8;
        margin-top: 5px;
      }
      .desc {
        text-align: center;
      }
      .desc .cursor {
        height: 20px;
        display: inline-block;
        width: 2px;
        background-color: black;
        transform: translateY(25%);
        animation: blink 0.5s infinite alternate;
      }
      @keyframes blink {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      @media screen and (width<450px) {
        .secnav {
          padding: 10px 20px;
        }
        .secnav button:hover {
          aspect-ratio: 1;
        }
        .secnav button:hover div {
          width: 0;
        }
        h1 {
          font-size: 15vw;
        }
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/" class="logolink">
        <img src="logo&ui/3dlogo.png" alt="" class="logodesk" />
      </a>
      <a href="cart" class="cart">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M2.23737 2.28845C1.84442 2.15746 1.41968 2.36983 1.28869 2.76279C1.15771 3.15575 1.37008 3.58049 1.76303 3.71147L2.02794 3.79978C2.70435 4.02524 3.15155 4.17551 3.481 4.32877C3.79296 4.47389 3.92784 4.59069 4.01426 4.71059C4.10068 4.83049 4.16883 4.99538 4.20785 5.33722C4.24907 5.69823 4.2502 6.17 4.2502 6.883L4.2502 9.55484C4.25018 10.9224 4.25017 12.0247 4.36673 12.8917C4.48774 13.7918 4.74664 14.5497 5.34855 15.1516C5.95047 15.7535 6.70834 16.0124 7.60845 16.1334C8.47542 16.25 9.57773 16.25 10.9453 16.25H18.0002C18.4144 16.25 18.7502 15.9142 18.7502 15.5C18.7502 15.0857 18.4144 14.75 18.0002 14.75H11.0002C9.56479 14.75 8.56367 14.7484 7.80832 14.6468C7.07455 14.5482 6.68598 14.3677 6.40921 14.091C6.17403 13.8558 6.00839 13.5398 5.9034 13H16.0222C16.9817 13 17.4614 13 17.8371 12.7522C18.2128 12.5045 18.4017 12.0636 18.7797 11.1817L19.2082 10.1817C20.0177 8.2929 20.4225 7.34849 19.9779 6.67422C19.5333 5.99996 18.5058 5.99996 16.4508 5.99996H5.74526C5.73936 5.69227 5.72644 5.41467 5.69817 5.16708C5.64282 4.68226 5.52222 4.2374 5.23112 3.83352C4.94002 3.42965 4.55613 3.17456 4.1137 2.96873C3.69746 2.7751 3.16814 2.59868 2.54176 2.38991L2.23737 2.28845Z"
              fill="white"
            ></path>
            <path
              d="M7.5 18C8.32843 18 9 18.6716 9 19.5C9 20.3284 8.32843 21 7.5 21C6.67157 21 6 20.3284 6 19.5C6 18.6716 6.67157 18 7.5 18Z"
              fill="white"
            ></path>
            <path
              d="M16.5 18.0001C17.3284 18.0001 18 18.6716 18 19.5001C18 20.3285 17.3284 21.0001 16.5 21.0001C15.6716 21.0001 15 20.3285 15 19.5001C15 18.6716 15.6716 18.0001 16.5 18.0001Z"
              fill="white"
            ></path>
          </g>
        </svg>
        <span>Cart</span>
        <div class="cartcounter">1</div>
      </a>
      <svg
        class="menu"
        onclick="showmenu()"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <g id="Menu / Menu_Alt_05">
            <path
              id="Vector"
              d="M5 17H13M5 12H19M11 7H19"
              stroke="var(--theme)"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g>
        </g>
      </svg>
    </nav>
    <div class="desksidebar">
      <div class="locationcontainer" onclick="showlocations()">
        <img src="logo&ui/locationtheme.svg" alt="" />
        <span>Choose location</span>
      </div>
    </div>
    <div class="locationchoose activelocationchoose">
      <button onclick="hidelocations()">X</button>
      <div class="locations">Delhi</div>
      <div class="locations">Gurgaon</div>
      <div class="locations">Noida</div>
    </div>
    <div class="secnav">
      <button onclick="window.history.back()">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M7.68473 7.33186C8.07526 6.94134 8.07526 6.30817 7.68473 5.91765C7.29421 5.52712 6.66105 5.52712 6.27052 5.91765L1.60492 10.5832C0.823873 11.3643 0.823872 12.6306 1.60492 13.4117L6.27336 18.0801C6.66388 18.4706 7.29705 18.4706 7.68757 18.0801C8.0781 17.6896 8.0781 17.0564 7.68757 16.6659L4.02154 12.9998L22 12.9998C22.5523 12.9998 23 12.5521 23 11.9998C23 11.4476 22.5523 10.9998 22 10.9998L4.01675 10.9998L7.68473 7.33186Z"
              fill="rgb(82, 82, 82)"
            ></path>
          </g>
        </svg>
        <div>Back</div>
      </button>
      <span>About Us</span>
    </div>
    <h1>Rentbean.in</h1>
    <div class="maincontainer">
      <div class="desc">
        <div class="cursor"></div>
      </div>
      <h3>Our Story</h3>
      <p>
        Since our inception in 2016, Rentbean.in has been committed to
        revolutionizing the way people access the items they need without the
        burden of ownership. Our journey began with a vision to provide a
        platform where convenience meets affordability, and we continue to
        uphold this commitment every day.
      </p>
      <h3>What We Offer</h3>
      <p>
        Wide Variety: Explore our diverse selection of high-quality products
        from top brands, carefully curated to cater to your needs.
      </p>
      <h3>Convenience:</h3>
      <p>
        Rent what you need, when you need it, without the hassles of storage,
        maintenance, or upfront costs. Enjoy flexible rental options tailored to
        your schedule and preferences.
      </p>
      <h3>Quality Assurance:</h3>
      <p>
        All our rental items undergo thorough inspections to ensure they meet
        our stringent standards of quality and reliability, giving you peace of
        mind with every rental.
      </p>
      <h3>Our Commitment</h3>
      <p>
        At Rentbean.in, we prioritize customer satisfaction above all else. Our
        dedicated team is here to provide you with exceptional service and
        support throughout your renting journey. Whether you're renting for
        personal use, events, or business purposes, we're committed to exceeding
        your expectations at every turn.
      </p>
      <h3>Get Started Today</h3>
      <p>
        Join the Rentbean.in community today and experience the freedom of
        renting. Browse our extensive catalog, select your items, and enjoy the
        convenience of temporary ownership without the long-term commitment. Let
        Rentbean.in be your trusted partner in making renting easy and
        accessible for everyone. Thank you for choosing Rentbean.in for all your
        rental needs. Here's to a simpler, more convenient way of living!
      </p>
    </div>
    <%- include('footer.ejs') %>
    <!-- nav script -->
    <script src="nav.js"></script>
    <!-- main -->
    <script>
      window.onscroll = (e) => {
        if (window.scrollY <= 10) {
          document.querySelector(".secnav").style.boxShadow = "unset";
        } else {
          document.querySelector(".secnav").style.boxShadow =
            "0 2px 10px var(--theme20)";
        }
      };
      //desc text
      let text = `Welcome to Rentbean.in, your ultimate destination for hassle-free
        rentals of fitness equipment, electronics, furniture, and more. Founded
        in 2016, Rentbean.in is dedicated to simplifying your renting
        experience, making it convenient, affordable, and enjoyable.`;
      let i = 0;
      let timer = setInterval(() => {
        document.querySelectorAll(".cursor").forEach((item) => {
          item.remove();
        });
        document.querySelector(".desc").innerHTML +=
          text[i] + '<div class="cursor"></div>';
        i++;
        if (i == text.length) {
          clearInterval(timer);
        }
      }, 50);
    </script>
  </body>
</html>
