<footer>
  <div class="main">
    <div class="columns">
      <h3>Rentbean.in</h3>
      <a href="/aboutus">About Us</a>
      <a href="/contactus">Contact us</a>
      <a href="/decumentsrequired">Documents Required</a>
    </div>
    <div class="columns">
      <h3>POLICIES</h3>
      <a href="/shippingpolicy">Shipping Policy</a>
      <a href="/cancelationandreturnpolicy">Cancellation & Return</a>
      <a href="/privacypolicy">Privacy Policy</a>
      <a href="/rentaltandc">Rental Terms & Conditions</a>
      <a href="/referaltandc">Referral Terms & Conditions</a>
    </div>
    <div class="columns">
      <h3>NEED HELP ?</h3>

      <a href="mailto:letsolvein@gmail.com">
        <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M6.5 17C5.68209 17 4.95592 16.6072 4.49982 16H13.5C15.433 16 17 14.433 17 12.5V6.5C17.6072 6.9561 18 7.68209 18 8.5V12.5C18 14.9853 15.9853 17 13.5 17H6.5Z"
              fill="rgb(214, 142 ,67)"
            ></path>
            <path
              d="M9.23705 2.05976C9.08906 1.98008 8.91094 1.98008 8.76295 2.05976L3.0518 5.135C2.73825 5.30384 2.48182 5.5494 2.30067 5.8413L2.71661 6.04927L8.99999 8.94929L15.2753 6.053L15.6902 5.82669C15.5096 5.54121 15.2565 5.30101 14.9482 5.135L9.23705 2.05976Z"
              fill="rgb(214, 142 ,67)"
            ></path>
            <path
              d="M15.9976 6.79808L15.7394 6.93892C15.7296 6.94426 15.7196 6.94928 15.7095 6.95395L9.20952 9.95395C9.07657 10.0153 8.92341 10.0153 8.79046 9.95395L2.29046 6.95395L2.27638 6.94719L2.00184 6.80992C2.00062 6.83849 2 6.86717 2 6.89594V12.5C2 13.8807 3.11929 15 4.5 15H13.5C14.8807 15 16 13.8807 16 12.5V6.89594C16 6.8632 15.9992 6.83057 15.9976 6.79808Z"
              fill="rgb(214, 142 ,67)"
            ></path>
          </g>
        </svg>
        Rentbean.in</a
      >
    </div>
  </div>
  <hr style="margin-top: 50px" />
  <div class="secondary">
    <div class="social">
      <a href="https://www.facebook.com/rentbean.in" target="_blank">
        <svg
          viewBox="-5 0 20 20"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          fill="var(--theme)"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <title>facebook [#176]</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Dribbble-Light-Preview"
                transform="translate(-385.000000, -7399.000000)"
                fill="var(--theme)"
              >
                <g id="icons" transform="translate(56.000000, 160.000000)">
                  <path
                    d="M335.821282,7259 L335.821282,7250 L338.553693,7250 L339,7246 L335.821282,7246 L335.821282,7244.052 C335.821282,7243.022 335.847593,7242 337.286884,7242 L338.744689,7242 L338.744689,7239.14 C338.744689,7239.097 337.492497,7239 336.225687,7239 C333.580004,7239 331.923407,7240.657 331.923407,7243.7 L331.923407,7246 L329,7246 L329,7250 L331.923407,7250 L331.923407,7259 L335.821282,7259 Z"
                    id="facebook-[#176]"
                  ></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </a>
      <a
        href="https://www.instagram.com/rentbean.in?utm_source=qr&igsh=b3o4YjV4Z3B5d251"
        target="_blank"
      >
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM12 15.88C9.86 15.88 8.12 14.14 8.12 12C8.12 9.86 9.86 8.12 12 8.12C14.14 8.12 15.88 9.86 15.88 12C15.88 14.14 14.14 15.88 12 15.88ZM17.92 6.88C17.87 7 17.8 7.11 17.71 7.21C17.61 7.3 17.5 7.37 17.38 7.42C17.26 7.47 17.13 7.5 17 7.5C16.73 7.5 16.48 7.4 16.29 7.21C16.2 7.11 16.13 7 16.08 6.88C16.03 6.76 16 6.63 16 6.5C16 6.37 16.03 6.24 16.08 6.12C16.13 5.99 16.2 5.89 16.29 5.79C16.52 5.56 16.87 5.45 17.19 5.52C17.26 5.53 17.32 5.55 17.38 5.58C17.44 5.6 17.5 5.63 17.56 5.67C17.61 5.7 17.66 5.75 17.71 5.79C17.8 5.89 17.87 5.99 17.92 6.12C17.97 6.24 18 6.37 18 6.5C18 6.63 17.97 6.76 17.92 6.88Z"
              fill="var(--theme)"
            ></path>
          </g>
        </svg>
      </a>
      <a href="https://twitter.com/rentbean_in" target="_blank">
        <svg
          fill="var(--theme)"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 512 512"
          xml:space="preserve"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <g id="7935ec95c421cee6d86eb22ecd12f847">
              <path
                style="display: inline"
                d="M459.186,151.787c0.203,4.501,0.305,9.023,0.305,13.565 c0,138.542-105.461,298.285-298.274,298.285c-59.209,0-114.322-17.357-160.716-47.104c8.212,0.973,16.546,1.47,25.012,1.47 c49.121,0,94.318-16.759,130.209-44.884c-45.887-0.841-84.596-31.154-97.938-72.804c6.408,1.227,12.968,1.886,19.73,1.886 c9.55,0,18.816-1.287,27.617-3.68c-47.955-9.633-84.1-52.001-84.1-102.795c0-0.446,0-0.882,0.011-1.318 c14.133,7.847,30.294,12.562,47.488,13.109c-28.134-18.796-46.637-50.885-46.637-87.262c0-19.212,5.16-37.218,14.193-52.7 c51.707,63.426,128.941,105.156,216.072,109.536c-1.784-7.675-2.718-15.674-2.718-23.896c0-57.891,46.941-104.832,104.832-104.832 c30.173,0,57.404,12.734,76.525,33.102c23.887-4.694,46.313-13.423,66.569-25.438c-7.827,24.485-24.434,45.025-46.089,58.002 c21.209-2.535,41.426-8.171,60.222-16.505C497.448,118.542,479.666,137.004,459.186,151.787z"
              ></path>
            </g>
          </g>
        </svg>
      </a>
    </div>
    <div class="gotop" onclick=" window.scrollTo(0,0)">
      <svg
        viewBox="0 0 32 32"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
        fill="var(--theme)"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <title>arrow-up-circle</title>
          <desc>Created with Sketch Beta.</desc>
          <defs></defs>
          <g
            id="Page-1"
            stroke="none"
            stroke-width="1"
            fill="var(--theme)"
            fill-rule="evenodd"
            sketch:type="MSPage"
          >
            <g
              id="Icon-Set-Filled"
              sketch:type="MSLayerGroup"
              transform="translate(-362.000000, -1089.000000)"
              fill="var(--theme)"
            >
              <path
                d="M384.535,1105.54 C384.145,1105.93 383.512,1105.93 383.121,1105.54 L379,1101.41 L379,1112 C379,1112.55 378.553,1113 378,1113 C377.447,1113 377,1112.55 377,1112 L377,1101.41 L372.879,1105.54 C372.488,1105.93 371.854,1105.93 371.465,1105.54 C371.074,1105.14 371.074,1104.51 371.465,1104.12 L377.121,1098.46 C377.361,1098.22 377.689,1098.15 378,1098.21 C378.311,1098.15 378.639,1098.22 378.879,1098.46 L384.535,1104.12 C384.926,1104.51 384.926,1105.14 384.535,1105.54 L384.535,1105.54 Z M378,1089 C369.163,1089 362,1096.16 362,1105 C362,1113.84 369.163,1121 378,1121 C386.837,1121 394,1113.84 394,1105 C394,1096.16 386.837,1089 378,1089 L378,1089 Z"
                id="arrow-up-circle"
                sketch:type="MSShapeGroup"
              ></path>
            </g>
          </g>
        </g>
      </svg>
      <span> Go Top </span>
    </div>
  </div>
</footer>
