<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>404 - Not Found</title>
    <style>
      * {
        -webkit-tap-highlight-color: transparent;
        font-family: "Mulish", sans-serif;
        text-align: center;
      }
      body {
        margin: 0;
        height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h1{
        margin: 0;
        padding: 0;
        transform: translateY(50px);
        font-size: 30px;
      }
      img {
        max-width: 400px;
        margin: auto;
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
      a {
        display: block;
        text-decoration: none;
        background-color: #39ad31;
        color: white;
        padding: 10px 50px;
        width: 100px;
        margin: auto;
        margin-top: 30px;
      }
      a:hover {
        color: #39ad31;
        background-color: white;
        outline: 1px solid #39ad31;
      }
    </style>
  </head>
  <body>
    <section>
      <h1 class="">404</h1>
      <img src="/logo&ui/notfound.gif" alt="" />
      <h3 class="h2">Look like you're lost</h3>
      <p>The page you are looking for is not avaible!</p>
      <a href="/" class="link_404">Go to Home</a>
    </section>
  </body>
</html>
