<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="logo&ui/favicon.png" type="image/png">
    <title></title>
    <meta name="image" content="logo&ui/favicon.png" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- spinner -->
    <link rel="stylesheet" href="imageloading.css" />
    <!-- nav -->
    <link rel="stylesheet" href="main.css" />
    <!-- local styles -->
    <style>
      body {
        padding-bottom: 50px;
      }
      .secnav {
        height: 60px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 10px 40px;
        position: sticky;
        top: 60px;
        left: 0;
        background-color: var(--bg1);
        z-index: 1;
      }
      .secnav button {
        position: relative;
        height: 100%;
        aspect-ratio: 1;
        background-color: var(--theme);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 100px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
      }
      .secnav button svg {
        position: absolute;
        left: 5px;
        top: 5px;
        height: calc(100% - 10px);
        background-color: white;
        border-radius: 50%;
        box-sizing: border-box;
        padding: 5px;
      }
      .secnav button div {
        width: 0;
        overflow: hidden;
        color: white;
      }
      .secnav button:hover {
        aspect-ratio: 3.5/1;
      }
      .secnav button:hover div {
        width: 100%;
      }
      .secnav span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        justify-self: center;
        align-self: center;
        font-size: 20px;
      }
      /* productgrid */
      .productgrid {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 0 40px;
        margin-top: 30px;
      }
      .productgrid .card {
        position: relative;
        width: 250px;
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
        border-radius: 20px;
        padding: 10px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: var(--headingsvg);
        overflow: hidden;
      }
      .productgrid .card:hover {
        transform: translateY(-2px);
      }
      .productgrid .card .availableornot {
        position: absolute;
        z-index: 10;
        inset: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(0deg,transparent,grey);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        pointer-events: none;
        display: none;
      }
      .productgrid .card .imgcontainer {
        position: relative;
        width: 100%;
        aspect-ratio: 1;
      }
      .productgrid .card .imgcontainer .loader {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
        display: grid;
        place-content: center;
      }
      .productgrid .card .imgcontainer img {
        opacity: 0;
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        transition: 0.3s;
      }
      .productgrid .card .title {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
      }
      .productgrid .card .rent {
        position: relative;
        height: 30px;
        min-width: 70%;
        background-color: var(--theme);
        color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding-inline: 10px;
      }
      .productgrid .card .rent::before {
        content: "";
        position: absolute;
        width: 70%;
        height: 2px;
        background-color: var(--theme);
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
        border-radius: 10px;
      }
      @media screen and (width<450px) {
        .secnav {
          padding: 10px 20px;
        }
        .secnav button:hover {
          aspect-ratio: 1;
        }
        .secnav button:hover div {
          width: 0;
        }
        .productgrid {
          padding: 0 20px;
        }
        .productgrid .card {
          width: calc(50% - 40px);
        }
        .productgrid .card .rent {
          font-size: 12px;
        }
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/" class="logolink">
        <img src="logo&ui/3dlogo.png" alt="" class="logodesk" />
      </a>
      <a href="cart" class="cart">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M2.23737 2.28845C1.84442 2.15746 1.41968 2.36983 1.28869 2.76279C1.15771 3.15575 1.37008 3.58049 1.76303 3.71147L2.02794 3.79978C2.70435 4.02524 3.15155 4.17551 3.481 4.32877C3.79296 4.47389 3.92784 4.59069 4.01426 4.71059C4.10068 4.83049 4.16883 4.99538 4.20785 5.33722C4.24907 5.69823 4.2502 6.17 4.2502 6.883L4.2502 9.55484C4.25018 10.9224 4.25017 12.0247 4.36673 12.8917C4.48774 13.7918 4.74664 14.5497 5.34855 15.1516C5.95047 15.7535 6.70834 16.0124 7.60845 16.1334C8.47542 16.25 9.57773 16.25 10.9453 16.25H18.0002C18.4144 16.25 18.7502 15.9142 18.7502 15.5C18.7502 15.0857 18.4144 14.75 18.0002 14.75H11.0002C9.56479 14.75 8.56367 14.7484 7.80832 14.6468C7.07455 14.5482 6.68598 14.3677 6.40921 14.091C6.17403 13.8558 6.00839 13.5398 5.9034 13H16.0222C16.9817 13 17.4614 13 17.8371 12.7522C18.2128 12.5045 18.4017 12.0636 18.7797 11.1817L19.2082 10.1817C20.0177 8.2929 20.4225 7.34849 19.9779 6.67422C19.5333 5.99996 18.5058 5.99996 16.4508 5.99996H5.74526C5.73936 5.69227 5.72644 5.41467 5.69817 5.16708C5.64282 4.68226 5.52222 4.2374 5.23112 3.83352C4.94002 3.42965 4.55613 3.17456 4.1137 2.96873C3.69746 2.7751 3.16814 2.59868 2.54176 2.38991L2.23737 2.28845Z"
              fill="white"
            ></path>
            <path
              d="M7.5 18C8.32843 18 9 18.6716 9 19.5C9 20.3284 8.32843 21 7.5 21C6.67157 21 6 20.3284 6 19.5C6 18.6716 6.67157 18 7.5 18Z"
              fill="white"
            ></path>
            <path
              d="M16.5 18.0001C17.3284 18.0001 18 18.6716 18 19.5001C18 20.3285 17.3284 21.0001 16.5 21.0001C15.6716 21.0001 15 20.3285 15 19.5001C15 18.6716 15.6716 18.0001 16.5 18.0001Z"
              fill="white"
            ></path>
          </g>
        </svg>
        <span>Cart</span>
        <div class="cartcounter">1</div>
      </a>
      <svg
        class="menu"
        onclick="showmenu()"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <g id="Menu / Menu_Alt_05">
            <path
              id="Vector"
              d="M5 17H13M5 12H19M11 7H19"
              stroke="var(--theme)"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g>
        </g>
      </svg>
    </nav>
    <div class="desksidebar">
      <div class="locationcontainer" onclick="showlocations()">
        <img src="logo&ui/locationtheme.svg" alt="" />
        <span>Choose location</span>
      </div>
    </div>
    <div class="locationchoose activelocationchoose">
      <button onclick="hidelocations()">X</button>
      <div class="locations">Delhi</div>
      <div class="locations">Gurgaon</div>
      <div class="locations">Noida</div>
    </div>
    <div class="secnav">
      <button onclick="window.history.back()">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M7.68473 7.33186C8.07526 6.94134 8.07526 6.30817 7.68473 5.91765C7.29421 5.52712 6.66105 5.52712 6.27052 5.91765L1.60492 10.5832C0.823873 11.3643 0.823872 12.6306 1.60492 13.4117L6.27336 18.0801C6.66388 18.4706 7.29705 18.4706 7.68757 18.0801C8.0781 17.6896 8.0781 17.0564 7.68757 16.6659L4.02154 12.9998L22 12.9998C22.5523 12.9998 23 12.5521 23 11.9998C23 11.4476 22.5523 10.9998 22 10.9998L4.01675 10.9998L7.68473 7.33186Z"
              fill="rgb(82, 82, 82)"
            ></path>
          </g>
        </svg>
        <div>Back</div>
      </button>
      <span> </span>
    </div>
    <!-- product gird -->
    <div class="productgrid"></div>
    <!-- main -->
    <script>
      window.onscroll = (e) => {
        if (window.scrollY <= 10) {
          document.querySelector(".secnav").style.boxShadow = "unset";
        } else {
          document.querySelector(".secnav").style.boxShadow =
            "0 2px 10px var(--theme20)";
        }
      };
      //
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const product = urlParams.get("subcategory");
      document.title = product + " - RentBean";
      document.querySelector(".secnav span").innerHTML = product;
      //fetch itemlist
      let type1prices = [1, 3, 6, 12]; // month
      let type2prices = [1, 3, 7, 30]; //days
      let type3prices = [1, 3, 6]; //laptops
      let type4prices = [6]; //ac coolers
      let pricetypename=["mo","day","mo","season"]
      let producttoshow;
      fetch("data.json")
        .then((res) => res.json())
        .then((res) => {
          for (const cat in res) {
            if (!res[cat]["subcat"][product]) continue;
            res[cat]["subcat"][product]["products"].forEach((item) => {
              let card = document.createElement("a");
              card.classList.add("card");
              card.href =
                "productpage?p=" + item.pid + "&subcat=" + product;
              card.innerHTML = `
              <div class="availableornot" style="display:${item.available==1?"none":"flex"}">Currently unavailable</div>
              <div class="imgcontainer">
                <div class="loader">
                  <div class="dot-spinner">
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                  </div>
                </div>
                <img
                  src="${item.image[0]}"
                />
              </div>
              <div class="title">${item.name}</div>
              <div class="rent">Rent : ₹ <span>${item.prices[0]}</span>/${pricetypename[item.pricetype-1]}</div>
              `;
              card.querySelector(".imgcontainer img").onload = () => {
                card.querySelector(".imgcontainer .loader").style.display =
                  "none";
                card.querySelector(".imgcontainer img").style.opacity = 1;
              };
              document.querySelector(".productgrid").appendChild(card);
            });
          }
        });
    </script>
    <!-- nav script -->
    <script src="nav.js"></script>
  </body>
</html>
